*{
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;


}


#signupb{
background-color: rgb(255, 136, 0);
color: white;
border-radius: 0;
}

#navbarSupportedContent{
margin-left: 273px;
}

#bannerimg{
  margin-left: 340px;
  
  
}

.containera{
  position: relative;
  color: rgb(0, 0, 0);
  overflow: hidden;
}

.containera::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Cover the full width of the container */
  height: 100%;
  background: linear-gradient(to right, white 35%, rgba(255, 255, 255, 0) 70%);
  pointer-events: none;
}

.centered {
  position: absolute;
  top: 50%;
  left: 24%;
  transform: translate(-50%, -50%);
  font-size: 23px;
}

#bannerimg{
  margin-left: 480px;
}


#logoo{
  margin-left: 220px;
}

.btncontainer{
  margin-right: 100px;
}

.services{
  background-color: rgba(206, 199, 199, 0.343);
  padding: 400px;
}
.services h1{
margin-left: 335px;

}

.servicecontainer{
  position: relative;
  background: rgba(255, 239, 239, 0.673);
  padding: 400px;
}

.centeredserv {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.centeredserv h1{
  font-size: 30px;
}

.servicebackground{
  background: rgb(243, 240, 240);
  height: 690px;
}

.content{
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 50px;
}

.headingg{
  padding-top: 30px;
}

/* Cards */

.row{
  padding-top: 60px;
}

.col{
  padding: 50px;
  background-color: white;
  margin-right: 20px;
  position: relative;
  
}

.img{
  padding-bottom: 10px;
}
.imgs{
  padding-bottom: 3px;
}

/*  Web Design Portfolio  */


/*  Hidden Brands We impact */


 /*  Let's do something great together  */


  /*  Footer  */
   